<div ng-controller="OpstineCtrl">
    <h1>{{title}}</h1>
<div>
     <h4>There are {{Opstine.length}} opština</h4>

     <div class="table-responsive">
        <table class="table table-bordered">
          <!-- On rows -->
            <thead>
              <th>ID</th>
              <th>Oznaka</th>
              <th>Naziv</th>
              <th>Država</th>
              <th>User</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in Opstine">
                  <td>{{item._id}}</td>
                  <td>{{item.RegOzn}}</td>
                  <td>{{item.Naziv}}</td>
                  <td>{{item.Drzava.Naziv}}</td>
                  <td>{{item.NameUser}}</td>
              </tr>
            </tbody>
        </table>
      </div>


        <!-- <ul>
          <li ng-repeat="item in Opstine">
            {{item._id}} /\
            {{item.Naziv}} /\
            {{item.RegOzn}} /\
            {{item.Drzava.Naziv}} /\
          </li>

        </ul> -->
</div>


</div>



