<div ng-controller="MestaCtrl">
    <h1>{{title}}</h1>
<div>
     <h4>There are {{Mesta.length}} mesta</h4>

     <div class="table-responsive">
        <table class="table table-bordered">
          <!-- On rows -->
      <thead>
        <th>ID</th>
        <th>Ptt</th>
        <th>Naziv</th>
        <th>Opština</th>
        <th>Država</th>
        <th>User</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in Mesta">
            <td> {{item._id}}</td>
            <td> {{item.Ptt}}</td>
            <td> {{item.Naziv}}</td>
            <td>  {{item.Opstina.Naziv}}</td>
            <td> {{item.Opstina.Drzava.Naziv}}</td>
            <td> {{item.NameUser}}</td>

        </tr>

      </tbody>

        </table>
      </div>


        <!-- <ul>
          <li ng-repeat="item in Mesta">
            {{item._id}} /\
            {{item.Naziv}} /\
            {{item.Opstina.Naziv}} /\
            {{item.Opstina.Drzava.Naziv}} /\
          </li>

        </ul> -->
</div>


</div>



