

<h1>
  <%= message %>
</h1>
<h2>
  <%= error %>
</h2>
<h2>
  <%= error.status %>
</h2>
<h2>
  <%= error.stack %>
</h2>

<p>Error template</p>

<!-- <footer>
  <% include ./partials/footer %>
</footer> -->

