<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container" >
<h1 class="bg-danger">
  <%= message %>
</h1>
<h2 class="text-danger">
  <%= error.status %>
</h2>
<!-- <h3>
  <%= error.stack %>
</h3> -->

<p>Error template</p>
</body>
<footer>
  <% include ./partials/footer %>
</footer>

