<div ng-controller="parametarCtrl">
    <h4>There are {{parametari.length}} parametara</h4>
    <div class="tableresponsive">
        <table class="table tablebordered">
            <thead>
              <th>ID</th> 
              <th>Naziv</th>
              <th>VredString</th>
              <th>VredNumeric</th>
               <th>NameUser</th>
              <th>Opis</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in parametari">
                  <td>{{item._id}}</td>
                  <td>{{item.Naziv}}</td>
                  <td>{{item.VredString}}</td>
                  <td>{{item.VredNumeric}}</td>
                   <td>{{item.NameUser }}</td>
                  <td>{{item.Opis}} </td>
              </tr>
            </tbody>
        </table>
    </div>
    





</div>

