<div ng-controller="FondSatiCtrl">
    <h1>{{title}}</h1>
<div>
     <h4>There are {{FondSati.length}} items of FondSati</h4>
        <ul>
          <li ng-repeat="item in FondSati">
            {{item._id}} |
            {{item.Mesec | number:0}} -
            {{item.Godina | number:0}} |
            {{item.Sati | number:2}} |
            {{item.MinOsnov | number:2}}|
            {{item.MaxOsnov | number:2}} |
            {{item.Opis }} |
            
          </li>

        </ul>
</div>


</div>



