<div ng-controller="KonstCtrl">
    <h1>{{title}}</h1>
<div>
     <h4>There are {{Konst.length}} konstanti</h4>
     <div class="table-responsive">
      <table class="table table-bordered">
        <!-- On rows -->
          <thead>
            <th>ID</th>
            <th>Datum</th>
            <th>UcPenz%</th>
            <th>UcZdrav%</th>
            <th>UcNormTr%</th>
            <th>UcOlak%</th>
            <th>Pdv%</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in Konst">
                <td>{{item._id}}</td>
                <td>{{item.Datum | date:short}}</td>
                <td>{{item.UcPenz | number :2}}</td>
                <td>{{item.UcZdrav | number:2}}</td>
                <td>{{item.UcNormTr | number:2}}</td>
                <td>{{item.UcOlak | number:2}}</td>
                <td>{{item.Pdv | number:2}} </td>
                
                
            </tr>
          </tbody>
      </table>
    </div>


        <!-- <ul>
          <li ng-repeat="item in Konst">
            {{item._id}} |
            {{item.Datum | date:short}} |
            {{item.UcPenz | number :2}} &#37;|
            {{item.UcZdrav | number:2}} &#37;|
            {{item.UcNormTr | number:2}} &#37;|
            {{item.UcOlak | number:2}} &#37;|
            {{item.Pdv | number:2}} &#37;|
            {{item.OsPio1 | number:2}} &#37;|
            {{item.OsPio2 | number:2}} &#37;|
            {{item.OsZdrav1 | number:2}} &#37;|
            {{item.OsNez1 | number:2}} &#37;|

          </li>

        </ul> -->
</div>


</div>



