<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> -->
</head>
<body class="container" >
   
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    

     

    <footer>
        <% include ../partials/footer %>
    </footer>

  
</body>
</html>