<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" ng-app="ZADRUGA">

        
    <header>
        <% include ../partials/header %>
    </header>


    <!-- Page Content -->
    <section>
        <div class="container">
          
            
            
        </div>
   </section>
      

     

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script type="text/javascript">
        setTimeout(function(){
            window.loading_screen.finish();;
        }, 1000);

    
    </script>
    
</body>
</html>